#:schema https://schemas.spinframework.dev/spin/manifest-v2/latest.json

spin_manifest_version = 2

[application]
name = "edge-accelerated-genai"
version = "0.1.0"
authors = ["Thorsten Hans <thans@akamai.com>"]
description = ""

[variables]
ollama_api_url = { default = "http://127.0.0.1:11434" }
model = { default = "llama3.2:1b" }
temperature = { default = "0.2" }


[[trigger.http]]
route = "/..."
component = "edge-accelerated-genai"

[component.edge-accelerated-genai]
source = "target/wasm32-wasip1/release/edge_accelerated_genai.wasm"
allowed_outbound_hosts = ["{{ ollama_api_url }}"]
key_value_stores = ["default"]

[component.edge-accelerated-genai.variables]
ollama_api_url = "{{ ollama_api_url }}"
model = "{{ model }}"
temperature = "{{ temperature }}"

[component.edge-accelerated-genai.build]
command = "cargo build --target wasm32-wasip1 --release"
watch = ["src/**/*.rs", "Cargo.toml"]
